body {
    font-family: 'Raleway', sans-serif; /* Test for this*/
    margin: 0;
    padding: 0;
    font-size: 16pt; /* test for this! Make all sizes em or rem */
    background-color: #fafafa;
}

h1 {
    font-size: 2em;
    text-align: center;
    line-height: 2;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
}

.navbar-brand {
    font-size: 2rem !important;
}

.jumbotron {
     margin-bottom: 0 !important;
}

.about-blurb h2, .about-blurb p {
    text-align: left !important;
    padding-left: 0 !important;
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a:focus {
    top: 20px;
    color: black;
    text-decoration-style: solid;
}

main .jumbotron {
    padding: 3%;
    margin-top: 14px;
}

main {
    /*margin-top: 60px;*/
    z-index: 5;
}

footer.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #f5f5f5;
}

footer .footer-flex {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.fab {
    color: #343a40;
}

/* Navbar */
header {
    min-height: 60px;
}

.nav_links {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav_item a {
    color:           black;
    text-decoration: none;
}

.nav_item a:hover, a:focus {
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}

@media screen and (min-width: 850px) {
    nav {
        max-height: 60px;
    }

    footer .footer-flex {
        flex-direction: row;
    }
    main .jumbotron {
        padding: 5%
    }
}

@media print {

}

@media (prefers-reduced-motion: reduce) {
}
