/* Page Setup */
body {
    font-family: 'Raleway', sans-serif; /* Test for this*/
    margin: 0;
    padding: 0;
    font-size: 16pt; /* test for this! Make all sizes em or rem */
    background-color: #fafafa;
}

header {
    min-height: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif !important;
}
h1 {
    font-size: 2em;
    line-height: 1.5;
    padding: 5px;
    font-weight: 900 !important;
}
h2 {
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: 700 !important
}
h3 {
    font-size: 1.4rem;
    font-weight: 500 !important;
}
h4 {
    font-size: 1.3rem;
    font-weight: 300 !important;
}
main p {
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
}

main a {
    font-family: 'Lato', sans-serif !important;
    color: #006CE0 !important;
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: inherit;
}

section.content {
    padding: 2rem;
}

main section {
    opacity: 0;
}

.jumbotron {
    padding: 3%;
    margin-top: 3px;
    margin-bottom: 0 !important;
}
.jumbotron h1 {
    text-align: center;
}


/* Heavily modified Jumbotron to have parallax on every page */
.jumbotron:before  {
    content:"";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    filter: opacity(0.25);
    background-image: url("../images/michiganstadium.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron, .jumbotron h1 {
    position: relative;
}


.jumbotron .attribution {
    position: absolute;
    bottom: 10px; right: 10px;
    font-size: 10px;
    font-weight: 700;
    background-color: #fff;
    border-radius: 5px;
    padding: 2px 5px;
    margin-bottom: 0 !important;
}

.jumbotron .attribution a {
    color: #006CE0 !important;
}

.end.jumbotron {
    height: 250px;
}
/* Modified Bootstrap to be more accessible, now meets AA level for contrast ratio  */
.badge-primary, .btn-primary {
    color: #fff !important;
    background-color: #006CE0 !important;
}

.btn-outline-primary {
    color: #006CE0 !important;
    border-color: #006CE0 !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #006CE0 !important;
    border-color: #006CE0 !important;
}

.badge-info {
    background-color: #128091 !important;
}

/* Footer */
footer.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: rgba(245, 245, 245, 0.5);
    color: rgb(28, 28, 30) !important;
}

footer .footer-flex {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

footer .fab, .fas {
    color: #343a40;
}

/* Fade in Animations */
@keyframes fadein {
    100% { opacity: 1;   }
}

main section {
    animation: fadein .5s ease-in forwards;
}
main section:nth-child(1) {
    animation-delay: .5s;
}
main section:nth-child(2) {
    animation-delay: 1.0s;
}
main section:nth-child(3) {
    animation-delay: 1.5s;
}
main section:nth-child(4) {
    animation-delay: 2s;
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -999px;
    color: #0071EB !important;
    -webkit-transition: top 0.25s ease-out;
    transition: top 0.25s ease-out;
    z-index: 999;
}

.skip a:focus {
    top: 60px;
    color: black;
    text-decoration-style: solid;
}

/* Navigation */
nav {
    box-shadow: 0 2px 3px -2px rgba(0,0,0,.25);
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em !important;
    font-weight: 400;
    transition: all 0.25s ease-in;
}

.nav_links {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav_item a {
    color:           black;
    text-decoration: none;
}
.nav-link {
    font-family: 'Lato', sans-serif;
}

.nav-link:not(.active) {
    color: rgb(28, 28, 30) !important;
}

.nav-item.active a.nav-link {
    font-weight: 700;
    text-transform: uppercase;
}

/* Home Page */
.home.jumbotron:before {
    background-image: url("../images/africa.jpg");
}

.about h2, .about p {
    text-align: left !important;
    padding-left: 0 !important;
}

.courses-flex {
    max-width: 85%;
    margin-bottom: 40px;
}

.courselist .courses {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: Lato, sans-serif;
}
.courselist h4.course {
    font-weight: 700 !important;
}

.tablet-only {
    display: none;
}

.courselist .courses .course {
    flex: 1;
    margin-top: 10px;
}

.course .badge {
    width: 100px;
}

.lead {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700 !important
}

br.desktop-only {
    display: none;
}

.coursename {
    margin-right: 5px;
}

.spacer {
    margin-top: 40px;
}

.about-blurb {
    padding-bottom: 1rem !important;
}


/* Projects Page */
.projects.jumbotron:before {
    background-image: url("../images/code.jpg") !important;
}

.projects {
    padding: 2rem;
}

.projects ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    list-style: none
}

.projects li {
    top: 0;
    background: #fff;
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
    position: relative;
    transition: all 0.25s ease-in-out;
}

.projects li:hover {
    top: -2px;
    background: #fafafa;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    filter: brightness(95%);
}

.projects figure {
    margin-bottom: 0;
}

.projects img {
    max-width:100%;
    height:auto;
    /*max-height: 220px;*/
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
    margin-bottom: 0;
}

.projects img {
    width: 100%;
}

.projects figcaption {
    width: 100%;
    border-top: 2px solid lightgray;
}

.projects figcaption h3 {
    color: black;
    padding: .75rem;
    font-size: 1.25rem;
    margin-bottom: 0;
    font-weight: 700 !important;
}

.projects p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 .75rem;
    color: #666666;
    margin-bottom: 60px;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
}

.projects a {
    padding: .5rem 1rem;
    margin: .5rem;
    width: 96% !important;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
}

/* Work Page */
.work.jumbotron:before {
    background-image: url("../images/analytics.jpg");
}

.experience .location {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 500 !important;
}

.experience h4 {
    display: inline-block;
    margin-left: 5px;
}

.experience .logo {
    width: 250px;
    box-shadow: 0 0 8px 8px #fafafa inset;
}

/* Contact Page */
.contact.jumbotron:before {
    background-image: url("../images/michiganstadium.jpg");
}

.contact-form {
    margin-top: 40px;
    text-align: left;
}

.contact-form .form-group {
    text-align: left !important;
}

.contact-form button img {
    position: relative;
    padding-left: 5px;
}

.contact-form button:hover img {
    -webkit-animation: sendIMG 0.25s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: hoverIMG 0.25s ease-in-out;
    animation-fill-mode: forwards;
}

.contact-form button.clicked img {
    -webkit-animation: sendIMG 2s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: sendIMG 2s ease-in-out;
    animation-fill-mode: forwards;
}


.mapouter{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.mapouter iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/*Honeypot Field to trap bots*/
.delicious-bee-juice {
    display: none;
}
/* Flip Card Code from W3Schools. Changed to fit my website */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner, .flip-card-focus:focus .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #006CE0;
    color: white;
    transform: rotateY(180deg);
}

/* Extra Large Desktop Devices >1620px */
@media screen and (min-width: 1620px) {
    .tablet-only {
        display: none !important;
    }
    .course {
        padding-right: 5px;
    }
    .courselist .courses .course {
        padding-right: 0;
    }
}

/* Normal Desktops 992->-1620px-> */
@media screen and (min-width: 992px) {
    nav {
        height: 60px;
    }
    .navbar-brand {
        font-size: 1.5em !important;
    }

    .desktop-only {
        display: inherit !important;
    }

    span.desktop-only, br.desktop-only {
        display: inline !important;
    }

    .mobile-only {
        display: none !important;
    }

    .tablet-only {
        display: inherit !important;
    }

    footer .footer-flex {
        flex-direction: row;
    }
    main .jumbotron {
        padding: 5%;
        margin-top: 0 !important;
    }

    .courselist .courses {
        flex-direction: row;
        margin-top: 10px;
    }

    .courselist .courses .course {
        margin-top: 10px;
        margin-right: 10px;
    }

    .contact-form {
        text-align: left;
        margin-top: 0 !important;
    }

}

/* Small Devices 340-576px */
@media screen and (max-width: 576px) {
    .tablet-only {
        display: none;
    }
    .course {
        padding-right: 0;
    }
    .course .badge {
        width: auto;
    }
    .courses-flex {
        max-width: 100%;
    }
    .about-blurb {
        padding-bottom: 0 !important;
    }
}

/* Extra Small Devices <340px */
@media screen and (max-width: 340px) {
    header {
        min-height: 54px;
    }
    .navbar-brand {
        font-size: 1em !important;
    }
}

@media print {
    .skip {
        display: none;
    }

    footer {
        display: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    main section {
        transition: none;
        opacity: 1 !important;
    }
}

@keyframes hoverIMG {
    0% {
        -webkit-transform: translate(0, 0) rotate(0deg);
        transform:         translate(0, 0) rotate(0deg);
    }
    100% {
        -webkit-transform:  translate(0, -2px) rotate(30deg);
        transform:          translate(0, -2px) rotate(30deg);
    }
}

@keyframes sendIMG {
    0% {
        -webkit-transform: translate(0, 0) rotate(30deg);
        transform:         translate(0, 0) rotate(30deg);
    }
    30% {
        -webkit-transform: translate(-5px, 2px) rotate(0deg);
        transform:         translate(-5px, 2px) rotate(0deg);
    }
    50% {
        -webkit-transform:  translate(100px, -20px) rotate(20deg);
        transform:          translate(100px, -20px) rotate(20deg);
    }
    75% {
        opacity: 50%;
        -webkit-transform:  translate(200px, -30px) rotate(-10deg);
        transform:          translate(200px, -30px) rotate(-10deg);
    }
    100% {
        opacity: 0;
        -webkit-transform:  translate(1000px, -500px) rotate(-10deg);
        transform:          translate(1000px, -500px) rotate(-10deg);
    }
}
