/* Page Setup */
body {
    font-family: 'Raleway', sans-serif; /* Test for this*/
    margin: 0;
    padding: 0;
    font-size: 16pt; /* test for this! Make all sizes em or rem */
    background-color: #fafafa;
}

header {
    min-height: 60px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif !important;
}

h1 {
    font-size: 2em;
    line-height: 1.5;
    padding: 5px;
    font-weight: 900 !important;
}

h2 {
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: 700 !important
}

h3 {
    font-size: 1rem;
    font-weight: 500 !important;
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: inherit;
}

section.content {
    padding: 2rem;
}

main section {
    opacity: 0;
}

/* Fade in Animations */
@keyframes fadein {
    100% { opacity: 1;   }
}
main section {
    animation: fadein .5s ease-in forwards;
}
main section:nth-child(1) {
    animation-delay: .5s;
}
main section:nth-child(2) {
    animation-delay: 1.0s;
}
main section:nth-child(3) {
    animation-delay: 1.5s;
}
main section:nth-child(4) {
    animation-delay: 2s;
}


/* Navigation */
nav {
    box-shadow: 0 2px 3px -2px rgba(0,0,0,.25);
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem !important;
}

.nav_links {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav_item a {
    color:           black;
    text-decoration: none;
}

.nav_item a:hover, a:focus {
    color: #385fc3;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}
.nav-link {
    font-family: 'Lato', sans-serif;
}
.nav-item.active a.nav-link {
    font-weight: 700;
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -25px;
    -webkit-transition: top 0.25s ease-out;
    transition: top 0.25s ease-out;
    z-index: 999;
}

.skip a:focus {
    top: 60px;
    color: black;
    text-decoration-style: solid;
}

/* Home Page */
.jumbotron {
    padding: 3%;
    margin-top: 14px;
    margin-bottom: 0 !important;
}
.jumbotron h1 {
    text-align: center;
}

.about h2, .about p {
    text-align: left !important;
    padding-left: 0 !important;
}

.courselist .courses {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: Lato, sans-serif;
}

.courselist .courses .course {
    flex: 1;
    margin-top: 10px;
}

h4.course {
    font-weight: 700;
}

.lead {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700 !important
}

br.desktop-only {
    display: none;
}

.coursename {
    margin-right: 5px;
}

.spacer {
    margin-top: 40px;
}

main p {
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
}


/* Projects Page */
.projects {
    padding: 2rem;
}

.projects ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    list-style: none
}

.projects li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
    position: relative;
}

.projects figure {
    margin-bottom: 0;
}

.projects img {
    max-width:100%;
    height:auto;
    /*max-height: 220px;*/
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
    margin-bottom: 0;
}

.projects img {
    width: 100%;
}

.projects figcaption {
    width: 100%;
    border-top: 2px solid lightgray;
}

.projects figcaption h3 {
    color: black;
    padding: .75rem;
    font-size: 1.25rem;
    margin-bottom: 0;
    font-weight: 700 !important;
}

.projects p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 .75rem;
    color: #666666;
    margin-bottom: 60px;
}

.projects a {
    padding: .5rem 1rem;
    margin: .5rem;
    width: 96% !important;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
}

/* Work Page */

.experience .location {
    font-size: 1.25rem;
}

/* Contact Page */

.contact-form {
    margin-top: 40px;
    text-align: left;
}

.mapouter{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.mapouter iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* Footer */
footer.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #f5f5f5;
}

footer .footer-flex {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.fab, .fas {
    color: #343a40;
}

@media screen and (min-width: 992px) {
    nav {
        height: 60px;
    }

    .desktop-only {
        display: inherit !important;
    }

    span.desktop-only, br.desktop-only {
        display: inline !important;
    }

    .mobile-only {
        display: none !important;
    }

    footer .footer-flex {
        flex-direction: row;
    }
    main .jumbotron {
        padding: 5%;
        margin-top: 0 !important;
    }

    .courselist .courses {
        flex-direction: row;
        margin-top: 10px;
    }

    .courselist .courses .course {
        margin-top: 10px;
    }

    .contact-form {
        text-align: right;
    }
}

@media print {
    .skip {
        display: none;
    }

    footer {
        display: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    main section {
        transition: none;
        opacity: 1 !important;
    }
}
